/* -- BASE STYLING -- */

html {
  min-height: 100%;
}

body {
  font-family: "Roboto", "arial", sans-serif;
  background: linear-gradient(#252c46, #384266);
  background: -webkit-linear-gradient(#252c46, #384266); /* For Safari 5.1 to 6.0 */
  background-color: #252c46;
  color: white;
  margin: 0;
  padding: 0 3%;
}

.site-container {
  max-width: 1200px;
  margin: 50px auto 0 auto;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* -- HEADER -- */

.site-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 50px;
  font-family: 'Merriweather';
}

.header__logo {
  width: 250px;
  align-self: center;
}

.site-nav__block {
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 757px) {

  .site-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .site-nav__item > * {
    margin-left: 30px;
  }
}

/* -- SIDEBAR -- */

.sidebar {
  background-color: #21283f;
  padding: 0 1rem;
}

.sidebar__blog-post {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.sidebar__blog-date {
	display: inline;
	text-align: center;
	margin-right: 12px;
	background-color: #252c46;
	padding: 0.8em 1em;
	flex: 0 0 auto;
	color: #e5eda7;
	border: 1px dotted #1b2133;
}

.sidebar__blog-date span {
	display: block;
}

/* -- MAIN -- */

.page-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "tiles"
                       "sidebar"
}

.grid-wrapper {
  grid-area: tiles;
}

.sidebar {
  grid-area: sidebar;
}
