/* -- BASE STYLING -- */

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-family: "Roboto", "arial", sans-serif;
  font-weight: 300;
  background: linear-gradient(#252c46, #384266);
  background: -webkit-linear-gradient(#252c46, #384266); /* For Safari 5.1 to 6.0 */
  background-color: #252c46;
  color: white;
  margin: 0;
  padding: 0 3%;
}

body::before {
  content: "";
  opacity: 0.25;
  position: fixed;
  height: 600px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: url('img/body_bg.png');
  background-size: cover;
}

.site-container {
  max-width: 1200px;
  margin: 50px auto 0 auto;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* -- HEADER -- */

.site-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 50px;
  font-family: 'Merriweather';
}

.header__logo {
  width: 250px;
  align-self: center;
}

.site-nav__block {
  display: flex;
  justify-content: space-around;
}


/* -- SIDEBAR -- */

.sidebar {
  background-color: #21283f;
  padding: 0 1rem;
  width: 100%;
  grid-area: sidebar;
}

.sidebar__blog-post {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.sidebar__blog-date {
	display: inline;
	text-align: center;
	margin-right: 12px;
	background-color: #252c46;
	padding: 0.8em 1em;
	flex: 0 0 auto;
	color: #e5eda7;
	border: 1px dotted #1b2133;
  width: 62px;
  height: 62px;
}

.sidebar__blog-date span {
	display: block;
}

/* -- MAIN -- */

.page-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "tiles"
                       "sidebar"
                       "footer";
  grid-template-columns: 288px;
  justify-content: center;
}

.grid-wrapper {
  display: grid;
  grid-area: tiles;
  grid-template-rows: 288px auto auto auto auto auto;
  grid-gap: 12px;
}

.grid-wrapper__tile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #21283f;
  padding: 0 2rem;
  font-family: "Merriweather";
  text-align: center;
}

.grid-wrapper__tile--plain {
  font-family: "Roboto";
}

.grid-wrapper__tile--plain:first-child {
  clip-path: polygon(50% 100%, 0 80%, 0 0, 100% 0, 100% 80%);
}

.grid-wrapper__tile--link {
  text-decoration: underline;
}

/* -- FOOTER -- */

footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.8125rem;
  padding: 0 1rem;
  background-color: rgba(42, 49, 78, 0.5);
  grid-area: footer;
}

@media screen and (min-width: 534px) { /* -- two columns -- */

  .page-wrapper {
    grid-template-columns: auto;
  }

  .grid-wrapper {
    grid-template-columns: 230px 230px;
    grid-template-rows: repeat(3, 230px);
  }

  .grid-wrapper__tile {
    background: radial-gradient(ellipse at center, #3f486d 0%, #252c46 100%);
    border: 1px dotted #1b2133;
  }

  .grid-wrapper__tile--plain {
    background: #21283f;
    border: none;
  }

  .grid-wrapper__tile--plain:first-child {
    clip-path: none;
  }

}

@media screen and (min-width: 757px) { /* -- three columns -- */

  .sidebar {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .sidebar__blog-date {
    font-size: 1rem;
  }

  .grid-wrapper {
    grid-template-columns: repeat(3, 230px);
    grid-template-rows: 230px 230px;
  }

  .site-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .site-nav__item > * {
    margin-left: 30px;
  }
}

@media screen and (min-width: 987px) { /* -- four columns -- */

  .grid-wrapper {
    grid-template-columns: repeat(4, 230px);
  }
}

@media screen and (min-width: 1229px) { /* -- three columns plus sidebar -- */

  .sidebar {
    background: none;
    border-left: 2px dotted #384266;
    border-right: 2px dotted #384266;
    max-width: 423px;
  }

  .page-wrapper {
    grid-template-areas: "tiles sidebar"
                         "footer footer";
    justify-content: space-between;
  }

  .grid-wrapper {
    grid-template-columns: repeat(3, 230px);
  }
}
